spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/user_service?useTimeZone=true&serverTimeZone=UTC&createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  threads:
    virtual:
      enabled: true
logging:
  level:
    ronoyaro.study: debug
server:
  servlet:
    context-path: /
  error:
    include-stacktrace: on_param
  tomcat:
    threads:
      max: 20


