spring:
  profiles:
    active: prod
  application:
    name: user-service
  threads:
    virtual:
      enabled: true
logging:
  level:
    ronoyaro.study: debug
server:
  servlet:
    context-path: /
  error:
    include-stacktrace: on_param
  tomcat:
    threads:
      max: 20


